
@page "/control"
@inject HttpClient Http

<h3>LED Control</h3>

<button @onclick="FlashLed">Flash LED</button>

@code {
    async Task FlashLed()
    {
        await Http.GetAsync("http://10.1.18.1:5000/flash");
    }
}

<div class="bottom_navbar">
        <a href="/control">
             <div class="navitem">
                <span class="material-symbols-outlined">
                    energy_program_saving
                </span>
            </div>
        </a>
        <a href="/home">
            <div class="navitem">
                <span class="material-symbols-outlined">
                    home
                </span>
            </div>
        </a>
        <a href="/tips">
            <div class="navitem">
                <span class="material-symbols-outlined">
                    book_2
                </span>
            </div>
        </a>
    </div>