*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

.body{
    background-color: #F5F2F0;
}

.block{
    width: 100%;
    height: 8rem;
}

.top_navbar{
    width: 100%;
    height: 8rem;
    display: flex;
    margin-bottom: 3rem;
}

.holder{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    margin-top: 5rem;
    display: flex;
    position: relative; /* allow absolute children to be centered */
}

.return{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    text-align: center;
}

.return .material-symbols-outlined{
    font-size: 2rem;
    color: #000000;
    line-height: 3rem;
}

.Ntitle{
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5625rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ntitle h5{         
    color: #000;
    margin-top: auto;
    margin-bottom: auto;
}

.bottom_navbar  {
    background-color: #335D80;
    z-index: 10;
    min-height: 4rem;
    width: 92%;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    border-radius: 1.5rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.bottom_navbar a:focus-visible {
    outline: none;
}

.bottom_navbar a{
    outline: none;
}

.navitem{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #FFFFFF;
}

.navitem .material-symbols-outlined{
    font-size: 3rem;
}

.icons{
    display: flex;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.icons h4{
    color: #FFFFFF;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4413rem;
    font-weight: 700;
    line-height: 100%;
}

.icons p{
    color: #FFFFFF;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;
}

.icons .material-symbols-outlined{
    font-size: 6rem;
    color: #FFFFFF;
}

.icon{
    width: 11.25rem;
    height: 11.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    background-color: #335D80;
    display: flex;
    flex-direction: column;
    
}

.split1{
    display: flex;
    width: 100%;
    margin-top: auto;
}

.status{
    height: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.light{
    height: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.material-symbols-outlined{
    font-size: 6rem;
}

.split2{
    width: 100%;
    height: 3rem;
    margin-top: auto;
}

.appname{
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.stat{
    width: 90%;
    height: 8.75rem;
    margin: auto;
    background-color: #335D80;
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    font-family: "Arimo", sans-serif;
    text-align: center;
}

.title h6{
    color: #FFFFFF;
    font-style: normal;
    font-size: 1.5625rem;
    font-weight: 400;
    margin: auto;
}

.data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;

    font-family: "Arimo", sans-serif;
    text-align: center;
}

.data h5{
    color: #FFFFFF;
    font-style: normal;
    font-size: 1.9531rem;
    font-weight: 700;
}

.picture{
    width: 90%;
    height: 10rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.picture img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}

.daily{
    width: 90%;
    height: 8.75rem;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
    gap: 1rem;
    display: flex;
    flex-direction: column;

    font-family: "Arimo", sans-serif;
}

.daily h6{
    color: #3F352C;
    font-style: normal;
    font-size: 1.5625rem;
    font-weight: 700;
    margin: auto;
}

.daily p{
    color: #3F352C;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 400;
}

.Ttitle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
}

.Dtip{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}