@page "/"
@page "/login"

<div class="login-page">
    <div class="header">
        <h1>Start Saving Now With Helios</h1>
    </div>

    <div class="login">
        <div class="enter">
            <input type="text" placeholder="Username" class="input" />
        </div>
        <div class="enter">
            <input type="password" placeholder="Password" class="input" />
        </div>
        <div class="continue">
            <a href="/home">  
                <button>Login</button>  
            </a>     
        </div>   
    </div>

    <div class="option">
        <div class="continue">
            <a href="/signup">
                <button>Sign Up</button>
            </a>
        </div>
        <div class="desc">
            <p>Don't have an account?</p>
        </div>
    </div>
</div>