@page "/"
@page "/login"

<a href="/home">
    <div class="go">
        <h1>go</h1>
    </div>
</a>

<div class="login">
    <h1>Login</h1>
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <button>Login</button>
</div>
<div class="option">
    <div class="desc">
        <p>Don't have an account?</p>
    </div>
    <div class="signup">
        <a href="/signup">
            <p>Sign Up</p>
        </a>
    </div>
</div>