@page "/signup"

<div class="SignUp-page">
    <div class="header">
        <h1>Start Saving Now With Helios</h1>
    </div>

    <div class="login">
        <div class="enter">
            <input type="email" placeholder="Email" class="input" />
        </div>
        <div class="enter">
            <input type="text" placeholder="Username" class="input" />
        </div>
        <div class="enter">
            <input type="password" placeholder="Password" class="input" />
        </div>
        <div class="continue">
            <a href="/home">  
                <button>Sign Up</button>  
            </a>     
        </div>   
    </div>

    <div class="option">
        <div class="continue">
            <a href="/login">
                <button>Log In</button>
            </a>
        </div>
        <div class="desc">
            <p>Have an account?</p>
        </div>
    </div>
</div>