*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

.body{
    background-color: #F5F2F0;
}   

.top_navbar{
    width: 100%;
    height: 8rem;
    display: flex;
    margin-bottom: 3rem;
}

.holder{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    margin-top: 5rem;
    display: flex;
    position: relative; /* allow absolute children to be centered */
}

.return{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    text-align: center;
}

.return .material-symbols-outlined{
    font-size: 2rem;
    color: #000000;
    line-height: 3rem;
}

.Ntitle{
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5625rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ntitle h5{         
    color: #000;
    margin-top: auto;
    margin-bottom: auto;
}

.bottom_navbar  {
    background-color: #335D80;
    z-index: 10;
    min-height: 4rem;
    width: 92%;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    border-radius: 1.5rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.navitem{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #FFFFFF;
}

.navitem .material-symbols-outlined{
    font-size: 3rem;
}

.Ptitle{
    font-family: "Arimo", sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.Ptitle h3{
    font-size: 3.0519rem;
    font-weight: 700;
}

.tip-card{
    font-family: "Arimo", sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tip-card ul{
    list-style-type: disc;
    padding-left: 1.5rem;
}

.tip-card li{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 100%;
}

.tip-card h6{
    font-size: 1.5625rem;
    font-weight: 700;
}

.title{
    margin-bottom: 1rem;
}