*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

::global html {
    background: none;
    margin: 0;
    padding: 0;
}

::global body {
    background: none;
    padding: 0;
    margin: 0;
} 

::global a {
    text-decoration: none !important;
}

.body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F5F2F0;

}

.header{
    height: 16rem;
    width: 100%;
    background-color: #462255;
}

.holder{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 8rem;
}

.block2{
    width: 100%;
    height: 3rem;
}

.PageTitle{
    color: #FFFFFF;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4413rem;
    font-weight: 700;
    line-height: 100%;
    padding-top: 4rem;

    width: 90%;
    height: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.PageDesc{
    color: #FFFFFF;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;

    width: 90%;
    height: 3rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.back{
    z-index: 5;
    width: 100%;
    height: 68rem;
    background-color: #f5f5f5;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: relative;
    top: -2.5rem;
}

.block{
    height: 1rem;
    width: 100%;
    background-color: transparent;
}



.a, .a:visited, .a:hover, .a:focus, .a:active {
    text-decoration: none !important;
    color: inherit;
}

.bottom_navbar  {
    z-index: 10;
    min-height: 4rem;
    width: 100%;
    position: fixed;
    bottom: 0rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
}

.bottom_navbar a,
.bottom_navbar a:visited,
.bottom_navbar a:hover,
.bottom_navbar a:focus,
.bottom_navbar a:active {
    text-decoration: none !important;
    color: inherit;
}

.navitem{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #616675;
}

.navitem .material-symbols-outlined{
    font-size: 3rem;
}

.Ptitle{
    font-family: "Arimo", sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Ptitle h3{
    font-size: 3.0519rem;
    font-weight: 700;
}

.tip-card{
    font-family: "Arimo", sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tip-card ul{
    list-style-type: disc;
    padding-left: 1.5rem;
}

.tip-card li{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 100%;
}

.tip-card h6{
    font-size: 1.5625rem;
    font-weight: 700;
}

.title{
    margin-bottom: 1rem;
}

.text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arimo", sans-serif;
    font-style: normal;
    font-size: 1.25rem;
}

.text h6{
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.image{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.image img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}